<div class="ui fixed borderless menu">
  {{#link-to 'index' class="item"}}
    <i class="marker icon"></i>
  {{/link-to}}
  <div class="item">
    Now {{current_temp}}°
  </div>
  <div class="item">
    Today's High {{forecast}}°
  </div>
  <div class="right menu">
    <a {{action 'openModal' on='tap'}} class="item">
      <i class="content layout icon"></i>
    </a>
  </div>
</div>
{{#ui-modal name="profile" class="ui basic modal"}}
  <i class="close icon"></i>
  <div class="ui fluid inverted vertical actions menu">
    {{#link-to 'index' class='cancel item'}}
      Home
    {{/link-to}}
    {{#link-to 'places.nearby' class='cancel item'}}
      Find Cool Places
    {{/link-to}}
    {{#link-to 'info.heat-safety' class='cancel item'}}
      Heat Safety
    {{/link-to}}
    {{#link-to 'info.why-is-it-so-hot' class='cancel item'}}
      Why is it so hot?
    {{/link-to}}
    {{#link-to 'info.about' class='cancel item'}}
      About
    {{/link-to}}
  </div>
{{/ui-modal}}

{{yield}}
