{{#if heat_alert}}
  <div class="ui fluid fixed menu warning inverted">
    <div class="item inverted">
      <h3 class="ui center aligned header inverted">HEAT ADVISORY IN EFFECT</h3>
    </div>
  </div>
{{/if}}
{{yield}}
