/** reset everything */

html,body {
	width:100%;
	height:100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#map {
	width:100%;
	height: 100%;
}

.leaflet-top {
  margin-top: 70px;
}

.vertical-segment {
  height: calc(75vh);
}

.ui.fixed.menu{
  height: 65px;
}
/*
.main-app {
  padding-top: 22px;
}
*/

.ui.active.modal {
  height: 100%;
}

.nearby-places-list {
  bottom: 0;
  position: absolute;
  z-index: 101;
  background-color: white;
  width: 100%;
  height: 40%;
  box-shadow: 0px -3px 15px #888
}

.leaflet-top, .leaflet-left {
  z-index: 99;
}

.leaflet-bar a, .leaflet-bar a:hover, .leaflet-touch .leaflet-bar a {
    width: 50px;
    height: 50px;
    line-height: 53px;
    z-index: 99;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    font: bold 24px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    z-index: 99;
}

.cool-places {
  position:relative;
  height: calc(100vh);
}

.cool-places h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.place-info {
  position: absolute;
  bottom: 0;
  z-index: 101;
  width: 100%;
  background-color: white;
  height: 50%;
  box-shadow: 0px -3px 15px #888
}

.top-level {
  height: 100%;
}

.ui.modal > .actions {
  text-align: left;
}

.splash-portal {
  height: calc(75vh);
  padding-top: 65px;
}

.ui.dropdown .menu > .item {
  font-size: 1.25em;
}

.google-directions-button {
  right: 10px; 
  position: absolute;
  top: -30px;
  box-shadow: 0px -3px 15px #888 !important;
}

.back-button {
  position: absolute;
  left: -5px;
  top: 70px;
  cursor: pointer;
}
