<i {{action 'back'}} class="angle left icon huge back-button"></i>
{{!-- <div class="nearby-places-list">
  <div class="ui fluid vertical menu">
    <div class="item">
      <h2 class="ui center aligned header">Places Nearby</h2>
    </div>
    {{#each model.places as |place|}}
      {{#if place.nearby}}
        {{#link-to 'places.place' place class="item"}}
          {{place.name}} - {{place.place_type}}
        {{/link-to}}
      {{/if}}
    {{/each}}
  </div>
</div> --}}
