<div class="ui container">

  <h1>About Keep Cool</h1>

  <p>
    Keep Cool is an initiative of the <a href="http://www.mapc.org/metro-mayors-coalition">Metro Mayors' Coalition</a> (MMC) Task Force on Climate Change and Adaptation. Covering 14 communities across Metro Boston, Keep Cool provides residents with a resource to find places for keeping cool this summer. This initiative will increase awareness on the effects of climate change, and offer heat safety tips and information on emergency cooling centers during extreme heat events.
  </p>

  <p>
    The MMC seeks to prevent heat-related fatalities and illnesses, foster tighter intergenerational social networks, and develop data-driven tools to identify high-risk zones to help target interventions.
  </p>

  <p>
    Climate change is expected to exacerbate heat in the Metro Boston area in future years. In addition to taking steps to reduce regional greenhouse gas emissions, the MMC is committed to leveraging tools like Keep Cool to advance climate preparedness in the region.
  </p>

  <p>
    If you are interested in learning more or working with us in our climate change adaptation and mitigation work,
    <a href="http://www.mapc.org/clean-energy">
      check out Clean Energy department
    </a>
    <a href="http://www.mapc.org/environment">
      and our Environment work
    </a>.
  </p>

  <p>
    Keep Cool was built by
    <a href="http://data.mapc.org">
      the Digital Services team
    </a>
    at the Metropolitan Area Planning Council (MAPC) in Boston, MA.
  </p>

</div>
