<br/><br/><br/><br/><div class="ui container">
  <h1>About</h1>
  <p>Keep Cool is an initiative of the <a href="http://www.mapc.org/metro-mayors-coalition">Metro Mayors Coalition</a> (MMC) Task Force on Climate Change and Adaptation. Covering 14 communities across Metro Boston, Keep Cool provides residents with a resource to find places for keeping cool this summer. This initiative will increase awareness on the effects of climate change, and offer heat safety tips and information on emergency cooling centers during extreme heat events. </p>

  <p>This initiative is a pilot in a broader effort to help highly vulnerable populations who may be exposed to heat-related illness during summer months. The MMC seeks to prevent heat-related fatalities and illnesses, foster tighter intergenerational social networks, and develop data-driven tools to identify high-risk zones to help target interventions.</p>  

  <p>Climate change is expected to exacerbate heat in the metro Boston area in future years. In addition to taking steps to reduce regional greenhouse gas emissions, the MMC is committed to leveraging tools like Keep Cool to advance climate preparedness in the region.</p>

  <p>Keep Cool was developed by the <a href="http://data.mapc.org">Digital Services</a> team at the Metropolitan Area Planning Council (MAPC) in Boston, MA.</p>

  <p>If you are interested in learning more or working with us in our climate change adaptation and mitigation work, check out the work of our <a href="http://www.mapc.org/clean-energy">Clean Energy</a> and <a href="http://www.mapc.org/environment">Environment</a> departments. </p>
</div>
