<div class="ui container">

  <div class="content-section">
    <h1 class="ui teal header">
      About Keep Cool
    </h1>
    <p>
      Keep Cool is a pilot initiative of the <a href="http://www.mapc.org/metro-mayors-coalition">Metro Mayors' Coalition</a> (MMC) Task Force on Climate Preparedness. Covering 14 communities across Metro Boston, Keep Cool provides residents with a resource to find places for keeping cool this summer. This initiative will increase awareness on the effects of climate change, and offer heat safety tips and information on emergency cooling centers during extreme heat events. Note: This is project is in beta (a work in progress), with ongoing efforts to find and display locations for cooling down. If you have any feedback, questions or find a cool place missing from this map, please email arouault@mapc.org. 
    </p>

    <p>
      The MMC seeks to prevent heat-related fatalities and illnesses, foster tighter intergenerational social networks, and develop data-driven tools to identify high-risk zones to help target interventions.
    </p>

    <p>
      Climate change is exacerbating heat in the Metro Boston area and will only worsen conditions in future years. In addition to taking steps to reduce regional greenhouse gas emissions, the MMC is committed to leveraging tools like Keep Cool to advance climate preparedness in the region.
    </p>

    <p>
      If you are interested in learning more or working with us in our climate change adaptation and mitigation work,
      <a href="http://www.mapc.org/clean-energy">
        check out Clean Energy department
      </a>
      <a href="http://www.mapc.org/environment">
        and our Environment work
      </a>.
    </p>

    <p>
      Keep Cool was built by
      <a href="http://data.mapc.org">
        the Digital Services team
      </a>
      at the Metropolitan Area Planning Council (MAPC) in Boston, MA.
    </p>
    <p> Keep Cool datasets were collected from a wide host of sources and collaborators including: MassGIS, The Boston Office of Environment, Energy, and Open Space: Greenovate, Member Municipalities of the Metro Mayor's Coalition, and Boston's Center for Youth and Families (BCYF).
    </p>
  </div>


  <div class="content-section" style="margin-bottom: 75px;">
    <h2 class="ui header">
      Disclaimer
    </h2>
    <p>
      The content provided by MAPC is for general information purposes only. The information and materials contained on this web site have been compiled from a variety of sources and, as such, are subject to change without notice. MAPC has no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them. In no event will MAPC be liable for any damages, whether direct, indirect, general, consequential, incidental, exemplary or special, arising from the use of information provided on this server or through links to any other servers.
    </p>
  </div>

</div>
