<div class="scroll-container" style=>
  <div class="content-section nopad">

    <h1 class="ui header" style="background-color: #F37B3E">
      Stay Safe in High Heat
    </h1>

    <div class="ui text container">
      <p>
        Hot and humid weather challenge your body's ability to cool itself. You or someone you care about may experience a heat-related illness if you heat too rapidly for your body to cool itself, or if you lose too much fluid or salt through dehydration or sweating.
      </p>

      <p>
        The
        <a href="http://www.cdc.gov/extremeheat/warning.html">
          Centers for Disease Control and Prevention
        </a>
        provides a list of warning signs and symptoms of heat illness, and recommended first aid steps. Some of these symptoms and steps are listed below.
      </p>
    </div>
  </div>

  <div class="ui text container">

    <div class="content-section">
      <h2 class="ui header orange">In an emergency, call 911.</h2>
      <p>
        Always call 911 in a medical emergency, including heatstroke and heat exhaustion.
      </p>
    </div>

    <div class="content-section">
      <h2 class="ui header orange">
        Heat Exhaustion
      </h2>
      <h4 class="ui header">
        Symptoms
      </h4>
      <ul>
        <li>Heavy sweating</li>
        <li>Weakness</li>
        <li>Cold, pale, and clammy skin</li>
        <li>Fast, weak pulse</li>
        <li>Nausea or vomiting</li>
        <li>Fainting</li>
      </ul>

      <h5 class="ui header">
        What You Should Do
      </h5>
      <ul>
        <li>Move to a cooler location.</li>
        <li>Lie down and loosen your clothing.</li>
        <li>Apply cool, wet cloths to as much of your body as possible.</li>
        <li>Sip water.</li>
        <li>If you have vomited and it continues, seek medical attention immediately.</li>
      </ul>
    </div>

    <div class="content-section">
      <h2 class="ui header orange">
        Heat Stroke
      </h2>
      <h4 class="ui header">
        Symptoms
      </h4>
      <ul>
        <li>High body temperature (above 103&deg;F)*</li>
        <li>Hot, red, dry or moist skin</li>
        <li>Rapid and strong pulse</li>
        <li>Possible unconsciousness</li>
      </ul>

      <h5 class="ui header">
        What You Should Do
      </h5>
      <ul>
        <li>Call 911 immediately — this is a medical emergency.</li>
        <li>Move the person to a cooler environment.</li>
        <li>Reduce the person's body temperature with cool cloths or even a bath.</li>
        <li>Do NOT give fluids.</li>
      </ul>

      <p>
        <a href="http://www.cdc.gov/extremeheat/warning.html">
          Source: The United States Centers for Disease Control.
        </a>
      </p>
    </div>

    <div class="content-section">
      <h2 class="ui header orange">Call 211 for emergency relief information</h2>
      <p>
        Mass 211 "connects callers to information about critical health and human services available in their community". If you need information about cooling centers or other emergency relief, but you are not calling about a medical emergency, call 211.
      </p>
    </div>

    <div class="content-section">
      <h2 class="ui header orange">Prepare</h2>
      <p>
        Check the weather regularly to be prepared for especially hot days. Install air conditioners snugly, and ensure ducts are sealed and insulated. Use light-colored shades or blinds to reflect light away from your home.
      </p>

      <a href="http://www.cityofboston.gov/oem/readyboston/extremeheat.asp">
        Boston has more guidance on how to prepare for high heat.
      </a>
    </div>

    <div class="content-section">
      <h2 class="ui header orange">Caring for yourself</h2>
      <p>
        Stay well-hydrated. Carry a water bottle and refill it regularly. Pay extra attention to how you're feeling. Pace yourself or rest if you are feeling tired.
      </p>
    </div>

    <div class="content-section">
      <h2 class="ui header orange">Caring for others</h2>
      <p>
        Check on your neighbors to make sure they're doing okay. People's lives have been saved in heat wave thanks to neighbors taking a moment to check in on others.
      </p>
      <p>
        Make sure not to leave pets or children in cars, even if the windows are open. Cars quickly overheat on hot days.
      </p>

      <p>
        <a href="http://www.cityofboston.gov/heat/tips.asp">
          Boston has more tips on how to take care of yourself and others.
        </a>
      </p>

      <p>
        <a href="https://www.cdc.gov/extremeheat/">
          The CDC has more about staying safe in extreme heat events.
        </a>
      </p>

    </div>

    <div class="content-section">
      <h2 class="ui teal header">
        Resources for keeping cool
      </h2>
      <p>
        Support for independent living, rebates for air conditioning, and more.
      </p>
      {{#link-to 'info.resources' class="ui large basic teal button"}}
        Get connected
        <i class="angle right icon"></i>
      {{/link-to}}
    </div>

  </div> {{!-- text container  --}}
</div>
