<br/><br/><br/><br/>
<div class="ui container">
  <h1>Stay Safe in High Heat</h1>
  <p>During extremely hot and humid weather, your body's ability to cool itself is challenged. When the body heats too rapidly to cool itself properly, or when too much fluid or salt is lost through dehydration or sweating, body temperature rises and you or someone you care about may experience a heat-related illness. </p>

  <p>It is important to know the symptoms of excessive heat exposure and the appropriate responses. The <a href="http://www.cdc.gov/extremeheat/warning.html">Centers for Disease Control and Prevention</a> provides a list of warning signs and symptoms of heat illness, and recommended first aid steps. Some of these symptoms and steps are listed below.</p>
  <p><b>In an emergency, call 911.</b></p>
  <p>Always call 911 in a medical emergency, including heatstroke and heat exhaustion.</p>
  <p>Symptoms of heat-related illness may include: </p>
  <p><b>Heat Exhaustion</b></p>
  <ul>
    <li>Heavy sweating</li>
    <li>Weakness</li>
    <li>Cold, pale, and clammy skin</li>
    <li>Fast, weak pulse</li>
    <li>Nausea or vomiting</li>
    <li>Fainting</li>
  </ul>
  <b>What You Should Do:</b>
  <ul>  
    <li>Move to a cooler location.</li>
    <li>Lie down and loosen your clothing.</li>
    <li>Apply cool, wet cloths to as much of your body as possible.</li>
    <li>Sip water.</li>
  </ul>
  <li>If you have vomited and it continues, seek medical attention immediately.</li>
  <b>Heat Stroke</b>
  <ul>
    <li>High body temperature (above 103°F)*</li>
    <li>Hot, red, dry or moist skin</li>
    <li>Rapid and strong pulse</li>
    <li>Possible unconsciousness</li>
  </ul>
  <b>What You Should Do:</b>
  <ul>
    <li>Call 911 immediately — this is a medical emergency.</li>
    <li>Move the person to a cooler environment.</li>
    <li>Reduce the person's body temperature with cool cloths or even a bath.</li>
    <li>Do NOT give fluids.</li>
  </ul>
</div>
