<div class="ui container scroll-container">
  <div class="content-section">
    <h1 class="ui header" style="background-color: #57C2F0">
      Resources for Keeping Cool
    </h1>
  </div>

  <div class="content-section">
    <h2 class="ui header teal">
      Boston Center for Independent Living
    </h2>
    <p>
      From their website:
      <a href="http://bostoncil.org" target="_blank">
        The Boston Center for Independent Living (BCIL)
      </a>
      "is a cross-disability organization and works with any person (regardless of age) who identifies as a person with a disability."
    </p>
    <p>
      BCIL provides a number of services that connect people with ways to obtain air conditioning at a low cost. Contact them to get assistance.
    </p>
    <a href="http://bostoncil.org" class="ui basic teal button">
      Connect with BCIL
    </a>
  </div>

  <div class="content-section">
    <h2 class="ui header teal">
      Rebates on Air Conditioning and Efficiency
    </h2>
    <p>
      <a href="http://www.masssave.com/residential/heating-and-cooling/heating-equipment-rebates/program-overview" target="_blank">
        MassSave provides rebates on air conditioning replacement and other energy-saving purchases.
      </a>
    </p>
    <a href="http://www.masssave.com/en/residential/heating-and-cooling" class="ui basic teal button" target="_blank">
      Find rebates available near you.
    </a>
  </div>

  <div class="content-section">
    <h2 class="ui header teal">
      Home Energy Assessments
    </h2>
    <p>
      MassSave provides home energy assessments, which can help you save energy and money on
      http://www.masssave.com/en/residential/home-energy-assessments
    </p>
    <p>
      Depending on your household income, you may qualify for
      <a href="http://www.masssave.com/en/residential/home-energy-assessments/income-eligible-programs/income-eligible-programs" target="_blank">
        income-eligible programs that lower your energy cost, provide fuel assistance, and more.
      </a>
    </p>
  </div>

  <div class="content-section">
    <h2 class="ui red header">
      Why is it so hot?
    </h2>
    <p>
      Summers are noramlly hot, but it's not normal to regularly break high temperature records. Learn the science behind why summers seem to be getting hotter and heat waves seem to be getting longer.
    </p>
    <a class="ui basic red button">
      Learn more
    </a>
  </div>

</div>
