<div class="scroll-container" style=>
  <div class="content-section nopad">
    <h1 class="ui header" style="background-color: #ED5738">
      Why is it so hot?
    </h1>
  </div>

  <div class="ui text container">

    <div class="content-section">
      <h2 class="ui red header">
        It's hot, and getting hotter.
      </h2>
      <p>
        It’s normally hot in the summer, but over the last several years, average summer temperatures have been rising steadily&mdash;and that’s not normal.
      </p>

      <p>
        From 1981 to 2010, the average summer temperature in the Boston area was 69&deg;F. Since 2010, average summer temperatures have risen. By 2030, the average summer temperature could rise to 73&deg;F. By 2050, it could be as high as 76&deg;F.
      </p>

      <img src="content/average-summer-temp-increase.png" />
      <p>
        <a href="https://d3n8a8pro7vhmx.cloudfront.net/greenovateboston/pages/1182/attachments/original/1464977705/ClimateProjectionConsensusSummary_June2016.pdf?1464977705" target="_blank">
          Source: Climate Ready Boston, May 2016
        </a>
      </p>

    </div>

    <div class="content-section">
      <h2 class="ui red header">
        Why is this happening?
      </h2>
      <p>
        Hot days will increase in frequency and intensity over the next few decades as a result of human-driven climate change.
      </p>

      <p>
        Climate change is already making a noticeable impact on us.
      </p>
      <p>
        Between 1971 and 2000, we experienced 11 days per year over 90&deg;F. By 2030, there may be 40 days each summer above 90&deg;F. By 2070, summer might feel like one giant heat wave: each summer could see up to 90 days over 90&deg;F, nearly the entire season.
      </p>

      <img src="content/number-hot-days-increase.png" />
      <p>
        <a href="https://d3n8a8pro7vhmx.cloudfront.net/greenovateboston/pages/1182/attachments/original/1464977705/ClimateProjectionConsensusSummary_June2016.pdf?1464977705" target="_blank">
          Source: Climate Ready Boston, May 2016
        </a>
      </p>

      <p>
        To put things into perspective, 2030 is only 14 years from now. Fourteen years in the past was the year 2002&mdash;not that far at all.
      </p>

    </div>

    <div class="content-section">
      <h2 class="ui red header">
        It's been years since summer temperatures were normal.
      </h2>

      <p>
        <a href="https://www.ncdc.noaa.gov/sotc/global/201606" target="_blank">
          According to NOAA
        </a>, "June 2016 marks the 34th consecutive June with global temperatures at least nominally above average. The last time global land surface temperatures were below average in June was in 1982."
      </p>
    </div>

    <div class="content-section">
      <h2 class="ui red header">
        How will it feel?
      </h2>
      <p>
        In 2050, Massachusetts might feel like Maryland or Virginia, depending how well we curb greenhouse gas emissions. (See below map.) This might sound great at first&mdash;there may be more days you can visit the beach or use your swimming pool. However, heat waves are a leading cause of weather-related mortality in the United States, so higher temperatures may come with harsh consequences.
      </p>
    </div>

    <div class="content-section">
      <img src="content/ma-map.png" />
      <p>
        <a href="http://www.ucsusa.org/sites/default/files/legacy/assets/documents/global_warming/pdf/confronting-climate-change-in-the-u-s-northeast.pdf" target="_blank">
          Source: Confronting Climate Change in the U.S. Northeast: Science, Impacts, and Solutions, NECIA, 2007.
        </a>
      </p>
    </div>

    <div class="content-section">
      <h2 class="ui red header">
        What about the Snowpocalypse?
      </h2>
      <p>
        It may sound counterintuitive, but climate change can cause extreme weather events in both summer and winter&mdash;including the record 109 inches of snow that fell during the winter of 2014-15.
      </p>
      <p>
        In the summer, higher average temperatures mean hotter days. In the winter, warmer air evaporates more water. Storm systems use this extra water to produce snow. Climate change is causing higher temperatures in summer and record snowfall in winter.
      </p>

      <img src="content/rainfall-increase.png" />
      <p>
        <a href="https://d3n8a8pro7vhmx.cloudfront.net/greenovateboston/pages/1182/attachments/original/1464977705/ClimateProjectionConsensusSummary_June2016.pdf?1464977705" target="_blank">
          Source: Climate Ready Boston, May 2016
        </a>
      </p>
    </div>

    <div class="content-section">
      <h2 class="ui red header">
       What else is happening to the climate?
      </h2>
      <p>
       According to the Boston Research Advisory Group (BRAG), increasing global temperatures are creating more flooding from sea level rise and storm surge. Additionally, the relative sea level in Boston Harbor has risen over the past century and the pace is accelerating. In the Northeast, there has already been a very large increase in the intensity of extreme rain and snow and the increase is expected to continue.
      </p>

      <p>
        Higher storm surges may erode or otherwise damage beaches, nature preserves, and other tourist destinations which boost our economy.
      </p>
    </div>

    <div class="content-section">
      <h2 class="ui teal header">
        What can I do?
      </h2>
      <p>
        Climate change is a challenging problem to solve&mdash;there's no denying that&mdash;but we're hopeful that by taking action together, we can all participate to prevent the worst effects. All of our choices around transportation, energy, and land use determine how climate change will impact us.
      </p>
      <p>
        We live in a society where it's easy to have a high carbon footprint by default. We encourage you to join us in taking action to help stabilize the climate by reducing your greenhouse gas emissions.
      </p>
    </div>

    <div class="content-section">
      <h2 class="ui teal header">
        At home.
      </h2>
      <p>
        One of the most cost-effective steps you can take is to
        <a href="http://www.masssave.com/" target="_blank">
          get a home energy audit.
        </a>
        You can
        <a href="http://www.masssave.com/en/residential/home-energy-assessments/about-home-energy-assessments/online-home-energy-assessment" target="_blank">
          easily schedule audit for free online
        </a>
        , or in-person with a contractor. This will reveal any leaks and gaps in insulation and window seals, which are usually easy and inexpensive to address, and which can make heating and cooling bills much less expensive.
      </p>

      <p>
        <a href="http://www.masssave.com/" target="_blank">
          Sign up for an energy audit through MassSave.
        </a>
      </p>

      <p>
        <a href="https://www3.epa.gov/climatechange/wycd/home.html" target="_blank">
          The EPA recommends a few ways to save energy and money at home.
        </a>
      </p>
    </div>

    <div class="content-section">
      <h2 class="ui blue header">
        In your neighborhood, city, or town.
      </h2>
      <p>
        Your city or town is likely taking steps to mitigate local emissions. We encourage you to visit your town’s website to learn how to get involved. We encourage you to attend a public meeting and contribute your voice.
      </p>

      <h2 class="ui blue header">
        In your region or state.
      </h2>
      <p>
        State-level clean energy and climate change policy is critical for any significant emissions reductions. We encourage you to support initiatives that incentivize efficiency and expand the generation and use of renewable energy.
      </p>
    </div>

    <div class="content-section">
      <h2 class="ui orange header">
        Heat safety information
      </h2>
      <p>
        Learn what you can do to prepare for and live well despite the heat.
      </p>
      {{#link-to 'info.heat-safety' class="ui large basic orange button"}}
        Learn more
        <i class="angle right icon"></i>
      {{/link-to}}
    </div>

  </div> {{!-- /text container --}}

</div>
