<h2 id="title">Cool Places</h2>
{{#link-to 'places.nearby'}}Find Cool Places{{/link-to}}
{{outlet}}
{{nearest-list nearest=nearest}}

<br />
<br />
<br />
<br />
<br />
<h2> Why so hot?</h2>
<br />
<br />
<br />
<br />
<br />
<h2> What is a heat wave?</h2>
